/* .App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

html {
  background: url("./img/cooking.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  /* overflow: hidden; */
}

main {
  background: #725e44;
  background-size: cover;
  height: 100%;
  /* overflow: hidden; */
}

h1 {
  font-family: "Butterfly Kids", cursive;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 5%;
  color: #ffffff;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  font-family: "Butterfly Kids", cursive;
  margin: 0 auto;
  width: 75%;
  padding: 30px;
  color: white;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: #964e31;
  background-image: url("./img/cooking.jpg");
}

.btn {
  background-color: #d14a0c;
  font-family: "Butterfly Kids", cursive;
  margin-top: 2%;
}

.navigation {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}

.logo {
  width: 200px;
}

.link {
  color: black;
}

a {
  color: black;
  font-family: "Butterfly Kids", cursive;
  font-size: 1.5rem;
}

a:hover {
  text-decoration: none;
  color: #964e31;
}

.recipe button{
  background-color: #d14a0c;
  border: none;
  border-radius: 4px;
  color: white;
  height: 30px;
  width: 110px;
}

.recipe button:hover {
  background-color: #6c757d;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.recipes {
  display: flex;
  width: 80vw;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
}

.recipe {
  padding: 20px;
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  width: 35vw;
}

.newSignup {
  color: #d14a0c;
}

.signup {
  text-align: center;
  margin-top: 2%;
}

.btnTags {
  width: 150px;
  margin-bottom: 5%;
}

.edit-btn {
  margin-left: 15px;
}

.cancel-btn {
  margin-left: 15px;
}